<script type="text/javascript">
    <script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?159",t.onload=function(){VK.Retargeting.Init("VK-RTRG-214660-8T7cb"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><noscript><img src="https://vk.com/rtrg?p=VK-RTRG-214660-8T7cb" style="position:fixed; left:-999px;" alt=""/></noscript>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter50315137 = new Ya.Metrika2({
                    id:50315137,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/50315137" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<script async src="https://stats.lptracker.ru/code/new/55343"></script>
</script>


  <div class="wsmenucontainer clearfix">
    <div class="overlapblackbg"></div>
    <div class="wsmobileheader clearfix">
        <a id="wsnavtoggle" class="animated-arrow"><span></span></a>
        <a class="smallogo" style="text-decoration: none;">ТМК</a>
        <a class="callusicon" href="<? include('./template/ahreftel.html'); ?>"><span class="fa fa-phone"></span></a>
    </div>
    <div class="headtoppart clearfix">
        <div class="headerwp">
            <header id="header">
              <div class="container mainheadersir">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-lg-4">
                <div class="logoitself">
					<span class="logoImg" ><a href="/"><img class="logophone1" src="/img/logobezteksta.png" ></a></span>
				    <div class="nearlogo">
					<span class="nearLogofirst">Окна<br></span>
					<p class="nearLogosecond">Тула</p>
					</div>
                </div>    
			</div>
            <div class="col-sm-4 col-md-4 col-lg-4 markerblock">
                <span class="markerlogo"><img class="headerfocus" src="/img/city-marker.png" alt="" width="35px"></span>
                   <div class="nearmarker">
                       <span>Тула<br></span>
                       <span><a class="marker" href="#mapyakor">Все офисы на карте</a></span>
                   </div> 
                </div>
             
            
			<div class="col-sm-4 col-md-6 col-lg-4 mobiledisplaynone">
				
				<div class="header-zvon">
                            <div class="header-zvon-phone"><a href="<? include('./template/ahreftel.html'); ?>"><img src="/img/phone.png" alt="img"><span><? include('./template/telephone.html'); ?></span></a></div>
                            <div class="header-zvon-zak">
                                <a class="callorder2" href="#" data-toggle="modal" data-target="#myModal">заказать звонок</a>
                                <div>Ежедневно:<span>с 9:00 до 20:00</span></div>
                            </div>
                        </div>
				
			</div>
		</div>
	</div>    
            </header>
        </div>    
    </div>    


    <script>
                                document['addEventListener']('touchstart', function () {}, false);
                                $(function () {
                                    $('#wsnavtoggle')['click'](function () {
                                        $('.wsmenucontainer')['toggleClass']('wsoffcanvasopener')
                                    });
                                    $('.overlapblackbg')['click'](function () {
                                        $('.wsmenucontainer')['removeClass']('wsoffcanvasopener')
                                    });
                                    $('.wsmenu-list> li')['has']('.wsmenu-submenu')['prepend']('<span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span>');
                                    $('.wsmenu-list > li')['has']('.megamenu')['prepend']('<span class="wsmenu-click"><i class="wsmenu-arrow fa fa-angle-down"></i></span>');
                                    $('.wsmenu-click')['click'](function () {
                                        $(this)['toggleClass']('ws-activearrow')['parent']()['siblings']()['children']()['removeClass']('ws-activearrow');
                                        $('.wsmenu-submenu, .megamenu')['not']($(this)['siblings']('.wsmenu-submenu, .megamenu'))['slideUp']('.slow');
                                        $(this)['siblings']('.wsmenu-submenu')['slideToggle']('slow');
                                        $(this)['siblings']('.megamenu')['slideToggle']('slow')
                                    });
                                    $('.wsmenu-list > li > ul > li')['has']('.wsmenu-submenu-sub')['prepend']('<span class="wsmenu-click02"><i class="wsmenu-arrow fa fa-angle-down"></i></span>');
                                    $('.wsmenu-list > li > ul > li > ul > li')['has']('.wsmenu-submenu-sub-sub')['prepend']('<span class="wsmenu-click02"><i class="wsmenu-arrow fa fa-angle-down"></i></span>');
                                    $('.wsmenu-click02')['click'](function () {
                                        $(this)['children']('.wsmenu-arrow')['toggleClass']('wsmenu-rotate');
                                        $(this)['siblings']('.wsmenu-submenu-sub')['slideToggle']('slow');
                                        $(this)['siblings']('.wsmenu-submenu-sub-sub')['slideToggle']('slow')
                                    })
                                });
    </script>
    <div id="navbar">
        <div class="headerfull">
            <div class="container kpd">
                <div class="wsmain">
                    <div class="smllogo"><a href="#"><img src="/img/1logo.png" alt=""></a></div>
                    <nav class="wsmenu clearfix">
                        <ul class="mobile-sub wsmenu-list">
						  <li> <a href="/" class="menuhomeicon"><i aria-hidden="true"></i>О нас</a></li>
                          <li> <a href="/okna-pvh" class="menuhomeicon"><i aria-hidden="true"></i>Окна ПВХ</a></li>
                          <li> <a href="/osteklenie-balkonov" class="menuhomeicon"><i aria-hidden="true"></i>Балконы и лоджии</a></li>
                          <li> <a href="/cottage" class="menuhomeicon"><i aria-hidden="true"></i>Окна в коттедж</a></li>
                          <li> <a href="/dveri-i-vhodnye-gruppy" class="menuhomeicon"><i aria-hidden="true"></i>Двери и входные группы</a></li>
                          <li> <a href="/nestandartnye-okna" class="menuhomeicon"><i aria-hidden="true"></i>Нестандартные окна</a></li>
                          <li> <a href="/uslugi" class="menuhomeicon"><i aria-hidden="true"></i>Декоративные окна</a></li>
                        </ul>
                    </nav>
						</div>
					</div>
				</div>
			</div>