<div class="container margintop45px">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <p class="nearsliedrtext">Нам доверяют крупнейшие застройщики жилых комплексов и коммерческих объектов</p>
      <p>За нашими плечами уже более 25 000 000 м2 конструкций.</p>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-8">
      <section class="responsive2 slider">
      <div>
            <a data-fancybox="gallery1" href="/img/town.jpg"><img src="/img/town.jpg"></a>
        </div>
        <div>
            <a data-fancybox="gallery1" href="/img/2-1024x585-1024x585-1024x585.jpg"><img src="/img/2-1024x585-1024x585-1024x585.jpg"></a>
        </div>
        <div>
            <a data-fancybox="gallery1" href="/img/3.jpeg"><img src="/img/3.jpeg"></a>
        </div>
        <div>
            <a data-fancybox="gallery1" href="/img/4.jpg"><img src="/img/4.jpg"></a>
        </div>
        <div>
            <a data-fancybox="gallery1" href="/img/5.jpg"><img src="/img/5.jpg"></a>
        </div>
        <div>
            <a data-fancybox="gallery1" href="/img/al4.jpg"><img src="/img/al4.jpg"></a>
        </div>
        <div>
            <a data-fancybox="gallery1" href="/img/golf2-1024x409-1024x409-1024x409.jpg"><img src="/img/golf2-1024x409-1024x409-1024x409.jpg"></a>
        </div>
       </section>
    </div>
  </div>
</div>