<div class="orange">
<div class="container margintop45px">
	  <section class="responsive slider">
    <div>
      <img src="/img/carousel-1-2.png">
    </div>
    <div>
      <img src="/img/carousel-2-2.png">
    </div>
    <div>
      <img src="/img/carousel-3-2.png">
    </div>
    <div>
      <img src="/img/carousel-4-2.png">
    </div>
    <div>
      <img src="/img/carousel-5-2.png">
    </div>
    <div>
      <img src="/img/carousel-6-2.png">
    </div>
  </section>
</div>
</div>
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
  <script src="./slick-master/slick/slick.min.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
  	$('.responsive').slick({
  dots: false,
  infinite: true,
  speed: 300,
  slidesToShow: 5,
  slidesToScroll: 1,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 4,
        slidesToScroll: 1,
        infinite: true,
      }
    },
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 425,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
  </script>