<div class="container margintop45px">
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
				<h2 class="marginbotom37px">Преимущества компании</h2>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-3">
			<div class="katnatpot"><img style="text-align:center;" src="/img/1-quality.png"></div>
			<p class="katnatpottittle">Собственное производство — наши окна заводского качества!</p>
			<p class="plustext">Качественная автоматизация процессов, высокоточное оборудование URBAN и BDM (Германия), позволяют минимизировать участие человека в производстве.</p>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-3">
			<div class="katnatpot"><img style="text-align:center;" src="/img/map.png"></div>
			<p class="katnatpottittle">Географическое положение — лёгкая логистика</p>
			<p class="plustext">Все дороги ведут в Тверь! Собственный автопарк компании ТМК обеспечивает быструю и надёжную доставку продукции во все офисы продаж на территории ЦФО. Вам не придётся ждать!</p>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-3">
			<div class="katnatpot"><img style="text-align:center;" src="/img/check.png"></div>
			<p class="katnatpottittle">Контроль качества продукции до и после установки</p>
			<p class="plustext">Все дороги ведут в Тверь! Собственный автопарк компании ТМК обеспечивает быструю и надёжную доставку продукции во все офисы продаж на территории ЦФО. Вам не придётся ждать!</p>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-3">
			<div class="katnatpot"><img style="text-align:center;" src="/img/team.png"></div>
			<p class="katnatpottittle">Собственный штат специалистов по монтажу</p>
			<p class="plustext">Кто лучше нас установит наше окно? В отделе монтажа «ТМК» — 1 600 сотрудников, подготовленных в нашем учебном центре. На монтаж выезжают бригады, доказавшие профмастерство.</p>
		</div>
	</div>
</div>
