<div class="container orangebackground margintop45px">
  <div class="row">
    <div class="col-md-3 col-lg-3">
      <p class="containerrassrockaheader">Рассрочка<br> на 6 месяцев</p>
      <div class="installments__button"><a class="newenjoy-css" href="#" style="cursor: pointer;" data-toggle="modal" data-target="#myModal">Узнать подробности</a></div>
    </div>
    <div class="col-md-3 col-lg-3">
      <p class="verybigwhitenumber">0%</p>
      <p class="notverybigwhitenotnumber">переплата</p>
    </div>
    <div class="col-md-3 col-lg-3">
      <p class="verybigwhitenumber">6</p>
      <p class="notverybigwhitenotnumber">месяцев</p>
    </div>
    <div class="col-md-3 col-lg-3">
       <p class="verybigwhitenumber">1 <span class="verylittleletter">я</span></p>
      <p class="notverybigwhitenotnumber">выплата через месяц</p>
    </div>
  </div>
</div>