 <div class="orangeBox">
  <div class="container">
	<div class="row">
		<div class="col-lg-4 rassrochkaWoman">			
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="informationrassrochka">
				<p class="procent">0%</p>
				<p class="rassrochkarow">Рассрочка</p>
				<p class="rassrochkarow2">Без предоплат</p>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-4">
			<div class="contactformrassrochka">
				<div class="row kpd">
					<div class="col-sm-12 col-md-12 col-lg-12 contactformrassrochka1">Потолки сейчас, деньги потом!</div>
					<div class="col-sm-12 col-md-12 col-lg-12 contactformrassrochka2">Популярная услуга от ТМК — рассрочка:</div>
					<div class="col-sm-12 col-md-12 col-lg-4 contactformrassrochka3">	
						<span>0%<br>переплат</span>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-4 contactformrassrochka3">	
						<span>1/6<br>стоимости</span>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-4 contactformrassrochka3">
						<span>6<br>мес.</span>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-12 contactformrassrochka1"><span style="text-align:center;">Воспользуйтесь !</span></div>
					<div class="col-sm-12 col-md-12 col-lg-12 mobilebuttontext"><a class="buttonsundercalc2 textbuttonrassrochka" href="#" style="cursor: pointer;" data-toggle="modal" data-target="#myModal">Узнать информацию о рассрочке</a></div>
					</div>
			</div>
		</div>
	</div>
  </div>
  </div>