<div class="container margintop45px">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <p class="tittle">Почему наши окна <span class="bigfuckingwords">Самые лучшие и дешевые</span> ?</p>
    </div>
  </div>
</div>
<div class="container margintop45px">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <p style="text-align: center;"><img src="/img/Untitled-3.jpg"></p>
      <p class="headerslidercart">Вы не переплачиваете посредникам!</p>
      <p>Производим сами на немецком оборудовании и продаем по заводской цене.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <p style="text-align: center;"><img src="/img/Untitled-1-1.jpg"></p>
      <p class="headerslidercart">Вы не платите за нашу аренду!</p>
      <p>3 оконных завода находятся на собственной территории  в г. Твери.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <p style="text-align: center;"><img src="/img/Untitled-4.jpg"></p>
      <p class="headerslidercart">Вы избегаете наценок на логистику!</p>
      <p>У нас собственный автопарк по ЦФО и СЗФО.  55 специализированных грузовиков — мы не платим сторонней логистике.</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
      <p style="text-align: center;"><img src="/img/Untitled-2.jpg"></p>
      <p class="headerslidercart">Вы не переплачиваете за человеческий фактор!</p>
      <p>Автоматические линии работают без ошибок, при минимальном участии человека, а так же не нуждаются в зарплате!</p>
    </div>
  </div>
</div>